.errormsg{
  color:red;
 
}
.error{
  border: 2px solid red;
  padding-right: 0px;
  width:210px;
}
body {
    background-color: #3423a6;
   
}
form{
    font-size:17pt;
    background-color: white;
    margin: 0 auto;
    width:230px;
    font-weight: bold;
    font-family:monospace;
    padding: 20px;
    border:2px solid black;
}
